@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 20em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 37.5em) {
    html {
      font-size: 62.5%; } }

body {
  box-sizing: border-box; }

.body-container {
  display: grid;
  grid-template-rows: 100vh 40vw;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1.7; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    font-family: "Courgette", cursive;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    color: #EFD28D;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }

.story-header-3 {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-size: 2.6rem;
  color: #EFD28D;
  text-transform: uppercase; }

.story-header-2 {
  font-weight: 400;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
  color: #54483A; }

.story-text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.header {
  text-align: center;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 2rem;
  justify-content: center;
  align-content: center; }
  .header__btn {
    justify-self: center;
    align-self: start;
    background-color: #EFD28D;
    color: #333; }
    .header__btn::after {
      background-color: #EFD28D; }
    .header__btn--animated {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards; }

.bg-light {
  background-color: transparent !important; }

.navbar-brand {
  font-family: "Courgette", cursive;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-align: center;
  color: #EFD28D !important;
  margin-left: 5rem; }

.nav-link {
  color: #fff !important;
  font-size: 1.5rem;
  position: relative; }
  .nav-link::after {
    content: "";
    background: #EFD28D;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 2px;
    width: 6rem;
    transform: scaleX(0);
    transition: transform 0.3s; }
  .nav-link:hover::after {
    transform: scaleX(1); }

.nav-item {
  position: relative; }
  .nav-item:not(:last-child) {
    margin-right: 10rem !important; }
  .nav-item:last-child {
    margin-right: 2rem !important; }

.navbar-toggler {
  color: #EFD28D !important;
  border-color: #EFD28D !important; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239, 210, 141, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--green {
  background-color: #EFD28D;
  color: #fff; }
  .btn--green::after {
    background-color: #EFD28D; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.story-picture {
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }
  .story-picture img {
    width: 100%;
    grid-column: 2/6;
    grid-row: 2/6; }

.story-content {
  grid-column: col-start 5 / full-end;
  background-color: #fff;
  padding: 6rem 8vw;
  display: grid;
  align-content: center;
  justify-items: start; }
