.bg-light {
  // background-color: rgba($color-primary, 0.7) !important;
  background-image: linear-gradient(
      to right bottom,
      rgb(246, 230, 191),
      rgb(229, 182, 72)
    ),
    linear-gradient(to right bottom, rgb(0, 0, 0), rgb(0, 0, 0));
}

.navbar-brand {
  font-family: "Courgette", cursive;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-align: center;
  color: $color-white !important;
  margin-left: 5rem;
  @media only screen and (min-width: $bp-mobile-s) {
    margin-left: 0rem;
  }
  @media only screen and (min-width: $bp-laptop) {
    margin-left: 5rem;
  }

}

.nav-link {
  color: $color-white !important;
  font-size: 1.5rem;
  position: relative;
  &::after {
    content: "";
    background: $color-white;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s;
    @media only screen and (min-width: $bp-mobile-s) {
      width: 10%;
    }
    @media only screen and (min-width: $bp-laptop) {
      width: 100%;
    }
  }
  &:hover::after {
    transform: scaleX(1);
  }
}

.nav-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 10rem !important;
  }

  &:last-child {
    margin-right: 2rem !important;
  }
}

.navbar-toggler {
  color: $color-primary !important;
  border-color: $color-primary !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
