*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @media only screen and (min-width: $bp-very-small) {
    font-size: 40%;
  }
  @media only screen and (min-width: $bp-small) {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
}

.body-container {
  display: grid;
  grid-template-rows: 100vh 40vw 50vw;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}
