body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1.7;
}

.section-title {
  color: $color-primary;
  font-family: $font-cursive;
  font-size: 4rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

  @media only screen and (min-width: $bp-tablet) {
    font-size: 5rem;
  }
  @media only screen and (min-width: $bp-laptop) {
    font-size: 6rem;
  }
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    font-family: $font-cursive;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    color: $color-primary;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    color: $color-white;
    text-shadow: 2px 2px 5px $color-black;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

.story-header {
  grid-column: 1/-1;
  font-family: $font-cursive;
  font-weight: 400;
  font-size: 2.5rem;
  color: $color-primary;
  text-transform: uppercase;

  @media only screen and (min-width: $bp-tablet) {
    font-size: 2rem;
  }
  @media only screen and (min-width: $bp-laptop) {
    font-size: 2.5rem;
  }
}

.story-text {
  grid-column: 1/-1;
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 2.5rem;
  color: $color-grey-dark-2;

  @media only screen and (min-width: $bp-tablet) {
    font-size: 1.5rem;
  }
  @media only screen and (min-width: $bp-laptop) {
    font-size: 2rem;
  }
}

.menu {
  &-title {
    color: $color-primary;
    font-family: $font-cursive;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.5rem;

    &-breakfast {
      @media only screen and (min-width: $bp-mobile-s) {
        font-size: 2.5rem;
      }
      @media only screen and (min-width: $bp-tablet) {
        font-size: 4rem;
      }
      @media only screen and (min-width: $bp-laptop) {
        font-size: 4.5rem;
      }
    }
  }

  &-product {
    &-title {
      font-size: 2rem;
      font-weight: 400;
      color: $color-primary;
    }

    &-ing {
      font-size: 1.5rem;
      font-weight: 400;
    }

    &-price {
      font-size: 1.7rem;
      font-weight: 400;
    }
  }
}

.form-title {
  justify-self: center;
  &-heading {
    color: $color-primary;
    font-family: $font-cursive;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
  }
}

.team-member-text {
  font-size: 1.5rem;
}

.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}
