body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1.7;
}

.section__title {
  color: $color-primary;
  font-family: $font-cursive;
  font-size: 4rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

  @media only screen and (min-width: $bp-mobile-s) {
    font-size: 2.5rem;
  }
  @media only screen and (min-width: $bp-mobile-l) {
    font-size: 3rem;
  }
  @media only screen and (min-width: $bp-tablet) {
    font-size: 5rem;
  }
  @media only screen and (min-width: $bp-laptop) {
    font-size: 6rem;
  }
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    font-family: $font-cursive;
    color: $color-primary;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @media only screen and (min-width: $bp-mobile-s) {
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 2rem;
    }
    @media only screen and (min-width: $bp-mobile-l) {
      font-size: 4rem;
    }
    @media only screen and (min-width: $bp-tablet) {
      font-size: 5.5rem;
    }
    @media only screen and (min-width: $bp-laptop) {
      font-size: 7.5rem;
    }
  }

  &--sub {
    color: $color-white;
    text-shadow: 2px 2px 5px $color-black;
    animation: moveInRight 1s ease-out;
    @media only screen and (min-width: $bp-mobile-s) {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 1.25rem;
    }
    @media only screen and (min-width: $bp-tablet) {
      font-size: 2.5rem;
    }
    @media only screen and (min-width: $bp-laptop) {
      font-size: 3rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

.story__content {
  &-header {
    font-family: $font-cursive;
    font-weight: 400;
    color: $color-primary;
    text-transform: uppercase;

    @media only screen and (min-width: $bp-mobile-s) {
      font-size: 2rem;
      grid-column: 1/-1;
    }
    @media only screen and (min-width: 50em) {
      font-size: 2.5rem;
    }
    @media only screen and (min-width: $bp-laptop) {
      font-size: 3.5rem;
    }
  }

  &-text {
    font-style: italic;
    margin-bottom: 2.5rem;
    color: $color-grey-dark-2;

    @media only screen and (min-width: $bp-mobile-s) {
      font-size: 1rem;
      grid-column: 1/-1;
    }
    @media only screen and (min-width: $bp-tablet) {
      font-size: 1.2rem;
    }
    @media only screen and (min-width: 50em) {
      font-size: 1.3rem;
    }
    @media only screen and (min-width: $bp-laptop) {
      font-size: 1.5rem;
    }
  }
}

.menu {
  &-title {
    color: $color-primary;
    font-family: $font-cursive;
    font-weight: 400;

    @media only screen and (min-width: $bp-mobile-s) {
      font-size: 1.8rem;
      letter-spacing: 0.5rem;
    }
    @media only screen and (min-width: $bp-tablet) {
      font-size: 3rem;
    }
    @media only screen and (min-width: $bp-laptop-l) {
      font-size: 4rem;
    }
  }

  &-product {
    &-title {
      font-weight: 400;
      color: $color-primary;
      justify-self: center;
      @media only screen and (min-width: $bp-mobile-s) {
        font-size: 1.2rem;
      }
      @media only screen and (min-width: $bp-tablet) {
        font-size: 1.8rem;
      }
      @media only screen and (min-width: $bp-laptop-l) {
        font-size: 2.2rem;
      }
    }

    &-ing {
      font-weight: 400;
      @media only screen and (min-width: $bp-mobile-s) {
        font-size: 1rem;
      }
      @media only screen and (min-width: $bp-tablet) {
        font-size: 1.4rem;
      }
      @media only screen and (min-width: $bp-laptop-l) {
        font-size: 1.6rem;
      }
    }

    &-price {
      font-weight: 400;
      color: $color-black;
      margin-left: 0.5rem;
      justify-self: center;
      @media only screen and (min-width: $bp-mobile-s) {
        font-size: 1rem;
      }
      @media only screen and (min-width: $bp-tablet) {
        font-size: 1.1rem;
      }
      @media only screen and (min-width: $bp-laptop-l) {
        font-size: 1.3rem;
      }
    }
  }
}

.team-member-caption {
  &-name {
    font-family: $font-cursive;
    text-transform: uppercase;

    @media only screen and (min-width: $bp-mobile-s) {
      font-size: 2rem;
      color: $color-primary;
    } 
    @media only screen and (min-width: $bp-laptop) {
      font-size: 3rem;
      color: $color-white;
    } 
  }
  &-icon {
   @media only screen and (min-width: $bp-mobile-s) {
    font-size: 2rem; 
    color: $color-primary;
  }
  @media only screen and (min-width: $bp-laptop) {
    font-size: 2.5rem;
    color: $color-white;
  } 

  &:hover {
    color: $color-primary;
    transform: scale(1.2);
  }
  }
}


.form-title {
  justify-self: center;
  &-heading {
    color: $color-primary;
    font-family: $font-cursive;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
  }
}

.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}
