.restaurant-menu {
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.4),
      rgba($color-black, 0.4)
    ),
    url(../../img/menu-bg.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
  grid-row-gap: 2rem;
  padding-bottom: 8rem;

  &-cover {
    height: 70vh;
    background-image: url("../../img/meniu/breakfast.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    @media only screen and (min-width: $bp-mobile-s) {
      grid-column: center-start / col-end 4;
    }
    @media only screen and (min-width: $bp-tablet) {
      grid-column: col-start 2 / col-end 4;
    }
  }

  &-checkbox {
    display: none;
  }

  &-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: 0.5s;
    color: white;

    &-container {
      position: relative;
      perspective: 2500px;

      @media only screen and (min-width: $bp-mobile-s) {
        grid-column: col-end 4 / center-end;
      }
      @media only screen and (min-width: $bp-tablet) {
        grid-column: col-end 4 / col-end 7;
      }
    }

    &-image {
      height: 100%;
      width: 100%;
    }

    &-front {
      height: 70vh;
      background-color: $color-white;
      color: $color-black;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      display: grid;
      grid-template-columns: 1rem 1fr minmax(4rem, 7rem);
    }
    &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;

      &-steak {
        background-image: url("../../img/meniu/steak.jpg");
        background-size: cover;
        background-position: bottom;
      }
      &-pizza {
        background-image: url("../../img/meniu/pizza.jpg");
        background-size: cover;
        background-position: bottom;
      }
      &-salad {
        background-image: url("../../img/meniu/salad.jpg");
        background-size: cover;
        background-position: bottom;
      }
      &-soup {
        background-image: url("../../img/meniu/soup.jpg");
        background-size: cover;
        background-position: bottom;
      }
      &-desert {
        background-image: url("../../img/meniu/desert.jpg");
        background-size: cover;
        background-position: bottom;
      }
      &-drinks {
        background-image: url("../../img/meniu/drinks.jpg");
        background-size: cover;
        background-position: bottom;
      }
    }
  }
}

.menu {
  &-title {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
  }

  &-page-next-btn {
    grid-column: 3/4;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    color: $color-primary;
    cursor: pointer;

    @media only screen and (min-width: $bp-mobile-s) {
      font-size: 3rem;
    }
    @media only screen and (min-width: $bp-tablet) {
      font-size: 4rem;
    }
    @media only screen and (min-width: $bp-laptop) {
      font-size: 5rem;
    }
  }

  &-page-back-btn {
    color: $color-primary;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(1%);

    @media only screen and (min-width: $bp-mobile-s) {
      font-size: 3rem;
    }
    @media only screen and (min-width: $bp-tablet) {
      font-size: 4rem;
    }
    @media only screen and (min-width: $bp-laptop) {
      font-size: 5rem;
    }
  }
}

.products-container {
  grid-column: 2/3;
  align-self: start;
  justify-self: center;
  display: grid;
  grid-row-gap: 1.5rem;
  text-align: center;
  // @media only screen and (min-width: 33em) {
  //   grid-row-gap: 1rem;
  // }
  // @media only screen and (min-width: $bp-laptop) {
  //   grid-row: 3/7;
  //   grid-row-gap: 1.5rem;
  // }
}

#c1:checked ~ .restaurant-menu-page-container #p1 {
  transform: rotateY(-180deg);
  z-index: 1;
}

#c2:checked ~ .restaurant-menu-page-container #p2 {
  transform: rotateY(-180deg);
  z-index: 2;
}

#c3:checked ~ .restaurant-menu-page-container #p3 {
  transform: rotateY(-180deg);
  z-index: 3;
}

#c4:checked ~ .restaurant-menu-page-container #p4 {
  transform: rotateY(-180deg);
  z-index: 4;
}

#c5:checked ~ .restaurant-menu-page-container #p5 {
  transform: rotateY(-180deg);
  z-index: 5;
}

#c6:checked ~ .restaurant-menu-page-container #p6 {
  transform: rotateY(-180deg);
  z-index: 6;
}

#c7:checked ~ .restaurant-menu-page-container #p7 {
  transform: rotateY(-180deg);
  z-index: 7;
}

#p1 {
  z-index: 7;
}
#p2 {
  z-index: 6;
}
#p3 {
  z-index: 5;
}

#p4 {
  z-index: 4;
}

#p4 {
  z-index: 3;
}

#p6 {
  z-index: 2;
}

#p7 {
  z-index: 1;
}
