.section__story {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}

.story {
  &__picture {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;

    @media only screen and (min-width: $bp-mobile-s) {
      grid-column: 1 / -1;
    }
    @media only screen and (min-width: $bp-tablet) {
      grid-column: full-start / col-end 4;
    }
  }

  &__img {
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    box-shadow: 0 2rem 5rem rgba(#000, 0.1);
  }

  &__content {
    display: grid;
    align-content: center;
    justify-items: start;

    @media only screen and (min-width: $bp-mobile-s) {
      grid-column: 1 / -1;
      padding: 6rem 8vw;
    }
    @media only screen and (min-width: $bp-tablet) {
      grid-column: col-start 5 / full-end;
    }
  }
}
