.story {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
 
  
  @media only screen and (min-width: $bp-mobile-s) {
    grid-gap: 2rem;
  }
  @media only screen and (min-width: 75em) {
    grid-gap: 5rem;
  }
  @media only screen and (min-width: $bp-laptop-l) {
    grid-gap: 10rem;
  }

  &-picture {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: start;

    img {
      width: 100%;
      grid-column: 1/-1;
      @media only screen and (min-width: $bp-mobile-s) {
        width: 50%;
        justify-self: center;
      }
      @media only screen and (min-width: $bp-tablet) {
        width: 50%;
      }
      @media only screen and (min-width: $bp-laptop) {
        width: 100%;
      }
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: start;
  }
}
