.section-testimonials {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  // grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.5),
      rgba($color-black, 0.5)
    ),
    url(../../img/testimonials-bg.jpg);
  background-size: cover;
  background-position: center;
}
